.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.submitForm {
  -webkit-appearance: none;
  background: #1578DC;
  border: none;
  color: white;
  padding: 10px 10px 10px 10px;
  font-size: 1.25rem;
  border-radius: 5px;
}


.songs {
  background: #70BBEB;
  border-radius: 10px;
  padding: 25px;
  margin: 15px 0 15px 0;
  width: 100%;
}

.topNav {
  background: #1683D1;
  color: white;
  padding: 2% 2% 2% 4%;
  margin: 0 6% 5% 6%;
}

h1 {
  margin: 0 0 5% 0;
  font-size: 4rem;
}

.musicData {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.width {
  width: 30%;
}

.formInput {
  width: 100%;
  border-radius: 5px;
  font-size: 1.5rem;
}

.formNotes{
  width: 100%;
  border-radius: 5px;
  font-size: 1.5rem;
  height: 5rem;
}

.formDiv {
  margin: 0 0 3% 0;
}

.updateButton:hover{
  cursor: pointer
}

.updateButton {
  -webkit-appearance: none;
  border: none;
  background: #38BA54;
  color: white;
  font-size: 1.25rem;
  padding: 10px;
  border-radius: 5px;
}
.formLabel {
  color: white;
  width: 100%;
  text-align: left;
}

.submitForm:hover{
  cursor: pointer
}

.songLabel {
  font-weight: bold;
  color: white;
}
